* {
  box-sizing: border-box;
}
body {
  padding-top: 48px;
}

.App {
  text-align: center;
}
.logoStyle {
  display: inline-block;
  width: 75%;
}
.logoStyleMenu {
  display: inline-block;
  width: 3rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.titileStyle {
  letter-spacing: 0.7rem !important;
}
.validationParPassword {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  line-height: 1.66 !important;
  letter-spacing: 0.03333em !important;
  text-align: left !important;
  margin-top: 3px !important;
  margin-right: 14px !important;
  margin-bottom: 0 !important;
  margin-left: 14px !important;
  color: #d32f2f !important;
}
.buttonStyles {
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.4) !important;
}
.pawColor {
  color: #31d6c0 !important;
}
.MuiBottomNavigation-root .css-1gnz8kn-MuiBottomNavigation-root {
  background-color: "#652fe2" !important;
}
.MuiBottomNavigationAction-label {
  color: white;
}

@media (min-width: 769px) {
  .logoStyle {
    width: 100%;
  }
}

